<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<div class="main">
  <p><strong>Fastcups</strong> is a quick way of gauging whether your students are able to follow along while you teach.</p>
  <p><strong>Usage instructions:</strong><br><br>
    1. Come up with a name for your class. For the purposes of this example we will go with 'stargazing_101'.<br>
    2. Open <code>{{ request.base_url }}/stargazing_101/teacher</code> in your browser.<br>
    3. Send your students to <code>{{ request.base_url }}/stargazing_101</code> and provide feedback while the class is in progress.
  </p>
  <p>Note: If you are reusing your class name (a valid strategy) DO ask your students to go to the provided URL (or reload an already open page) at the start of each class! This will ensure they are properly registered on the system.</p>
  <p>You can learn about this method of improving communication with your students and the positive impact it can have by watching this <a href="https://www.youtube.com/watch?v=J25d9aC1GZA" target="_blank">youtube video.</a></p>
</div>
