<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<div class="main">
  <svg width="218" height="227" viewBox="0 0 218 227" xmlns="http://www.w3.org/2000/svg">
  <path class="{{ cup_state }}" d="M175 1H42L1 226H217L175 1Z" />
  </svg>
  <p class="green">
    Green - I am comfortable with my understanding and pacing of the lesson
  </p>
  <p class="yellow">
    Yellow - I am working through my understanding, I would benefit from the teacher slowing down or revisiting the current concept
  </p>
  <p class="red">
    Red - STOP! I am not understanding and I have a question
  </p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg=" crossorigin="anonymous"></script>

<script>
  $(document).ready(function() {
    var socket = io();
    var path = $("path");

    socket.on('connect', function() {
      // we are using the SID to track connected students
      // SID is only available AFTER js loads, hence this call
      // (othwerise, we could set it in student_interface)
      socket.emit('register_student');
      // to handle server restarts
      // at 'connect' we don't know if the server restarted or user opened a new tab hence the need for an ajax call (to update cup color to 'inactive' in case of a restart)
      socket.emit('get_cup_color', function(response) {
        path.removeClass();
        path.addClass(response);
      });
    });

    // technically we could have a race condition here, but this is
    // probably not something worth worrying about
    // (especially that for the race condition to occur a `emit` would
    // need to beat at least a round trip which is not super likely
    // (client receiving html+js, rendering page, establishing
    // socket io connectio, and only then receiving the emit msg
    // that was triggered before html response)
    socket.on('close_old_tabs', function(student_id) {
      if (Cookies.get('student_id') == student_id) {
        $('body').html('<h1>You opened a new tab for selecting cups. Please close this one.</h1>')
      socket.disconnect();
      }
    });

    $("p").click(function() {
      var new_color = this.className;
      path.removeClass();
      path.addClass(new_color);
      socket.emit('color_change', new_color);
      }
    )
  });
</script>
