<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<span id="timestamp">{{ timestamp }}</span>
<span id="class_id">{{ class_id }}</span>

<div class="main">
  <svg viewBox="0 0 218 227" xmlns="http://www.w3.org/2000/svg">
    <path class="{{ cup_state }}" d="M175 1H42L1 226H217L175 1Z" />
  </svg>
  <p class="green">
    Green - I am comfortable with my understanding and pacing of the lesson
  </p>
  <p class="yellow">
    Yellow - I am working through my understanding, I would benefit from the teacher slowing down or revisiting the current concept
  </p>
  <p class="red">
    Red - STOP! I am not understanding and I have a question
  </p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/umbrellajs"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg=" crossorigin="anonymous"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var socket = io();
    var path = u("path");
    var timestamp = parseFloat(u("#timestamp").html());
    var class_id = u("#class_id").html();

    socket.on('connect', function() {
      // we are using the SID to track connected students
      // SID is only available AFTER js loads, hence this call
      // (othwerise, we could store the SID for tracking connections
      // directly in student_interface on the server)
      socket.emit('register_student', timestamp, class_id);

      // to handle server restarts
      // at 'connect' we don't know if the server restarted or user opened a new tab
      // hence the need for an ajax call (to update cup color to 'inactive' in case of a restart)
      socket.emit('get_cup_color', function(response) {
        path.attr('class', '');
        path.addClass(response);
      });
    });

    socket.on('deactivate_old_tabs', function(data) {
      if (timestamp < data['timestamp']) {
        if (Cookies.get('student_id') == data['student_id']) {
          u('body').html('<h1>This tab is no longer active. Please close it or reload the page to reactivate it.</h1>')
        socket.disconnect();
        }
      }
    });

    u("p").on("click", function() {
      var new_color = this.className;
      path.attr('class', '');
      path.addClass(new_color);
      socket.emit('color_change', new_color);
    });
  });
</script>
