<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<div class="main">
  <svg width="218" height="227" viewBox="0 0 218 227" xmlns="http://www.w3.org/2000/svg">
  <path d="M175 1H42L1 226H217L175 1Z" />
  </svg>
  <p class="green">
    Green - I am comfortable with my understanding and pacing of the lesson
  </p>
  <p class="yellow">
    Yellow - I am working through my understanding, I would benefit from the teacher slowing down or revisiting the current concept
  </p>
  <p class="red">
    Red - STOP! I am not understanding and I have a question
  </p>
</div>


