{% extends "layout.html" %}

{% block body %}
<div style="margin: 20px auto 0; height: {{ color2frac['red'] * 60}}vh; width: 100px; background-color: red">
</div>
<div style="margin: auto; height: {{ color2frac['yellow'] * 60}}vh; width: 100px; background-color:yellow">
</div>
<div style="margin: 0 auto 20px; height: {{ color2frac['green'] * 60}}vh; width: 100px; background-color: green">
</div>

<span style="font-size: 1.5rem; padding: 1rem;">
  <strong>Active students: </strong>
  <span id="active_student_count">{{ active_student_count }}</span>
</span>
<br>
<span style="color: darkgray; padding: 1rem;">
  Student count:
  <span id="student_count">{{ student_count }}</span>
</span>

<script>
  setTimeout(function(){
    window.location.reload();
  }, 5000);
</script>
{% endblock %}
