<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<div style="margin: 20px auto 0; height: {{ color2frac['red'] * 80}}vh; width: 100px; background-color: red">
</div>
<div style="margin: auto; height: {{ color2frac['yellow'] * 80}}vh; width: 100px; background-color:yellow">
</div>
<div style="margin: 0 auto 20px; height: {{ color2frac['green'] * 80}}vh; width: 100px; background-color: green">
</div>

<span style="font-size: 1.5rem; padding: 1rem;">
  <strong>Active students: </strong>
  <span id="active_student_count">{{ active_student_count }}</span>
</span>
<br>
<span style="color: darkgray; padding: 1rem;">
  Student count:
  <span id="student_count">{{ student_count }}</span>
</span>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  setTimeout(function(){
    window.location.reload();
  }, 1000);
</script>
